.o-questions-container {
}
.a-question-name {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-question {
  height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.m-question-card {
  flex: 1;
  margin: 16px;
}
.a-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#m-question {
  &.m-question-hide {
    opacity: 0;
  }
  &.m-question-hide-for-next {
    transform: translateX(100%);
  }
  &.m-question-hide-for-prev {
    transform: translateX(-100%);
  }
  &.m-question-show {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s;
  }
}
.m-radio-group-question {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.m-questions-footer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: row-reverse;
  margin: 16px;
  gap: 10px;
}
.a-question-headline {
  font-size: 18px;
  font-weight: 500;
}
.m-answer-section {
  font-size: 16px;
  width: 100%;
}
.a-required-star {
  color: red;
}
