<div class="o-questions-container" *ngIf="!loading">

  <div class="m-25 a-question-name">
    <span class="">
      {{questionnaire.name}}
    </span>
    <mat-icon
      class="ml-5 cursor-pointer"
      [matTooltip]="questionnaire.description"
      >info</mat-icon>
    </div>
  <mat-progress-bar
    [value]="(activeQuestionIndex+1) * 100 / questionnaire.questions.length"
    >
  </mat-progress-bar>

  <div class="m-question">
    <mat-card id="m-question" class="m-question-card" [ngClass]="{
        'm-question-show': isShowAnimation,
        'm-question-hide': !isShowAnimation,
        'm-question-hide-for-next': isTransitionToNext,
        'm-question-hide-for-prev': isTransitionToPrev
      }" >
      <div class="mb-20">
        <span class="a-question-headline">
          {{activeQuestionIndex+1}}- {{activeQuestion.headline}}
        </span>
      </div>

      <mat-form-field appearance="outline" class="m-answer-section"
        *ngIf="activeQuestion.question_type === 'text'">
        <input matInput [formControl]="activeQuestionFormControl" *ngIf="activeQuestion.multiline === 'false'"
          placeholder="Type here ...">
        <textarea matInput [formControl]="activeQuestionFormControl" *ngIf="activeQuestion.multiline === 'true'"
          rows="5"
          placeholder="Type here ..."></textarea>
      </mat-form-field>

      <mat-radio-group class="m-answer-section m-radio-group-question"
        *ngIf="activeQuestion.question_type === 'multiple-choice' && activeQuestion.multiple === 'false'"
        [formControl]="activeQuestionFormControl">
        <mat-radio-button class="" *ngFor="let choice of activeQuestion.choices" [value]="choice.value">
          {{choice.label}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-card>
  </div>

  <div class="m-questions-footer">
    <button *ngIf="activeQuestionIndex === questionnaire.questions.length - 1"
      mat-raised-button color="primary" class="ml-20" (click)="submit()">Submit</button>
    <button *ngIf="activeQuestionIndex !== questionnaire.questions.length - 1"
      [disabled]="activeQuestionFormControl?.invalid"
      mat-raised-button color="primary" class="ml-20" (click)="goToNextQuestion()">Next</button>
    <button *ngIf="activeQuestionIndex !== 0"
      mat-raised-button color="primary" (click)="goToPrevQuestion()">Previous</button>
  </div>
</div>

<mat-spinner class="a-spinner" *ngIf="loading"></mat-spinner>
